*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

.navbar{
    background-color: rgb(169, 169, 252);
    color: white;
    padding: 20px;
    justify-content: space-between;
    font-family: serif;
    height: 80px;
}

.logo1000{
    width: 130px;
    height: 130px;;
}

    

.topbar{
    background-color: rgb(15, 15, 82);
    display: flex;
    color: white;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    
}

.contact{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;   
}

.email{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

    a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

a:focus {
    color: red;
}

.link {
    color: rgb(167, 16, 16);
}

.link:focus {
    color: red;
}

.link.active {
    color: blue;
}

.dropdown {
    position: relative;
    width: 220px;
}



.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    background-color: rgb(169, 169, 252);
    padding: 15px;
}

.search-input{
    width: 300px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: rgb(123, 174, 229);
    outline: none;
    font-family: serif;
    font-size: 16px;
    transition: all 0.3 ease;
}

.search-input:focus {
    box-shadow: 0 0 8px rgba(4, 10, 20, 0.6);
}

.search-btn {
    background: linear-gradient(90deg,#0d6efd, #007bff);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: serif;
}

.search-btn:hover {
    background: linear-gradient(90deg, #007bff, #0dcaf0);
    transform: translateY(-2px);
    box-shadow:  0 3px 8px rgba(0, 0, 0, 0.15);
}

.img{
background-color: transparent;
}


#logo{
    height: 5px;
}

