*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

.navbar{
    background-color: rgb(169, 169, 252);
    color: white;
    padding: 20px;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    font-size: larger;
}

.logo1000{
    width: 130px;
    height: 130px;;
}

    

.topbar{
    background-color: rgb(15, 15, 82);
    display: flex;
    color: white;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    
}

.contact{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;   
}

.email{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

    a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

a:focus {
    color: red;
}

.link {
    color: rgb(167, 16, 16);
}

.link:focus {
    color: red;
}

.link.active {
    color: blue;
}

.dropdown {
    position: relative;
    width: 220px;
}



.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    background-color: rgb(169, 169, 252);
    padding: 15px;
}

.search-input{
    width: 300px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: rgb(15, 15, 82);
    outline: none;
    font-family: serif;
    font-size: 16px;
    transition: all 0.3 ease;
}

.search-input:focus {
    box-shadow: 0 0 8px rgba(4, 10, 20, 0.6);
}

.search-btn {
    background: linear-gradient(90deg,#0d6efd, #007bff);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: serif;
}

.search-btn:hover {
    background: linear-gradient(90deg, #007bff, #0dcaf0);
    transform: translateY(-2px);
    box-shadow:  0 3px 8px rgba(0, 0, 0, 0.15);
}

.img{
background-color: transparent;
}


#logo{
    height: 5px;
}



.menu a{
    color: white;
    font-weight: bolder;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-transform: uppercase;
    margin: 10px;
    text-decoration: none;

}

.menu a:hover{
    color: black;
    background-color:  burlywood;
    transition: 0.5s;
}

.btn button{
    background-color: rgb(43, 150, 177);
    padding: 10px;
    color: rgb(176, 35, 35);
    font-weight: bolder;
    border: none;
    border-radius: 50px;
    width: 120px;
}



.btn button:hover{
    background-color: rgb(15, 15, 82);
    color: white;
}

.container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-left{
    width: 500px;
    height: 500px;
    padding: 50px;
    padding-top: 80px;
}
.content-left h4{
    color: rgba(88, 19, 19, 0.658);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}
.content-left h1{
    color:rgb(15, 15, 82);
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}
.content-left p{
    color: black;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-left button{
    background-color: rgb(169, 169, 252);
    padding: 10px;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 50px;
    width: 120px;
    margin: 10px;
}

.content-left button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 82);
    transition: 0.5s;
}

.content-right{
    width: 500px;
    height: 500px;
    padding: 50px;
    padding-top: 80px;
}
.aboutme{
    padding: 50;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    width: 1000px;
    height: 200px;
    background-color: rgb(40, 161, 182);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 3px 5px 5px 3px rgb(15, 12, 12);
}
.card button{
    background-color: black;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    border: none;
    border-radius: 50px;
    width: 120px;
}
.card:hover{
    background-color: rgb(169, 169, 252);
    color: aliceblue;
    transition: 0.5s;

}
.card button:hover{
    background-color:  rgb(15, 15, 82);
    color: white;
    transition: 0.5s;
}
.card h2{
    margin-bottom: 15px;
}
.all-cards{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.otherskills{
    padding: 50px;
    text-align: center;
}

.otherskills h1{
    font-size: 50px;
}

.table{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 800px;
}

th{
    padding: 18px;
    background-color: aqua;
}
td{
    padding: 10px;
}

td:hover{
    background-color: lightgrey;
    transition: 0.5s;
}

.project{
    padding: 70px;
    text-align: center;
}

.project h1{
    font-size: 70px;
    margin-bottom: 40px;
}

.footer{
    background-color: bisque;
    padding: 15px;
    text-align: center;
}

.icons{
    background-color: rgb(7, 97, 170);
    padding: 15px;
    text-align: center;
}
.icons a{
    color: black;
    font-size: 50px;
    margin: 10px;
}


.images img:hover{
    width: 200px;
    height: auto;
    transition: 0.5s;
}
